
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond-default {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* share style */
.btn-primary{
    color: white;
    background-color: #B68C5A;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 1.15rem;
    font-weight: 600;
}
.display-flex{
    display: flex;
    align-items: center;
}
header,main{
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}
.dark-2{
    color: #707070;
}
.bg-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/banner.png');
    background-size: cover;
    border-radius: 8px;
}
/* header */
.logo{
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #707070;
}
/* hero section */
.hero-section{
    margin-top: 100px;
}
.hero-title{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    color: white;
    padding-top: 80px;
}
.hero-description{
    /* max-width: 650px; */
    text-align: center;
    margin-top: 24px;
    color: white;
}
.sreach-ber{
    justify-content: center;
    font-size: 1rem;
    gap: 20px;
    margin-top: 24px;
    padding-bottom: 80px;
}
.sreach-ber-textber{
    background-color: white;
    border: 1px solid #B68C5A;
    border-radius: 8px;
    padding: 16px 25px;
    width: 400px;
    
}

/* main share */
.section-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0;
}
.section-description{
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
section{
    margin-top: 100px;
}
/*  */
/* .practice-container{
    justify-content: center;
} */
.practice-box{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    margin-top: 50px;
    place-items: center;
    /* height: 450px; */
}
.practice-item{
    padding: 30px 50px;
    border: 1px solid rgba(112, 112, 112, 0.571);
   
}
.practice-image{
    justify-content: center;
    margin-bottom: 0;
    width: 20%;
    margin-left: 80px;
}
.practice-item-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 20px;
}
.practice-item-description{
    margin-top: 10px;
    text-align: center;
}
.frame{
    margin-left: 80px;
}
/* client section */
.client-information{
    margin-top: 50px;
}
.client-name{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    padding-top: 80px;
}
.expariance{
    color: white;
    text-align: center;
    margin-top: 10px;
}
.client-description{
    color: white;
    text-align: center;
    padding-bottom: 100px;
}
/* ask */
.ask-section{
    gap: 20px;
    margin-top: 50px;
}
.ask-container{
    flex: 1;
    display: grid;
    gap: 20px;
}
.ask-item{
    background-color: #F3F3F3;
    padding: 20px;
    
}
.ask-image{
    flex: 1;
}
/* contact */
.contact-section{
    gap: 40px;
    margin-top: 50px;
}
.contact-container{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.contact-item{
    background-color: #F3F3F3;
    padding: 20px 50px;
    border: 1px solid #707070;
}
.contact-item-title{
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}
.contact-image{
    margin-left: 50px;
    margin-bottom: 0;
}
.contact-item-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.message-container{
    flex: 1;
}
form input[type="text"],
form input[type="email"]{
    height: 50px;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    background-color: #F3F3F3;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 24px;
    border: none;
}
form textarea{
    height: 130px;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    background-color: #F3F3F3;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 18px;
    margin-bottom: 24px;
    border: none;
}
#Message{
    width: 105%;
}
/* footer */
footer{
    background-color: black;
    color: white;
    margin-top: 100px;
    /* padding-top: 50px; */
    padding-bottom: 40px;
}
.footer-section{
    margin: 0 auto;
    width: 80%;
    gap: 80px;
    align-items: center;
}
footer nav ul li a{
    color: white;
    
}
.nav-link{
    text-align: start;
}
.nav-items{
    padding: 0;
}
.footer-title{
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 70px;
}
.footer-textber{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
}

/* responcive for smail device */
@media screen and (max-width:576px){
    body{
        margin: 0;
    }
    .practice-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-section{
        flex-direction: column;
    }
    header,main{
        width: 100%;
        margin: 0 auto;
    }
    .logo{
        justify-content: space-between;
        position: none;
    }
    .hero-title{
        font-size: 2.75rem;
    }
    .practice-item {
        padding: 20px;
    }
    .practice-image, .frame{
        margin-left: 60px;
    }
    .hide-for-mobile, .nav-item{
        display: none;
    }
}